<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{!-- incluir el header {{> nombre de la view donde este el header}}--}}
    {{> header}} 

    {{{body}}}
    {{!-- incluir el header {{> nombre de la view donde este el footer}}--}}
    {{>footer}}
  </body>
</html>
